.categories_area {
    padding: 80px 0 50px 0;
}

.single_catagory{
    margin:auto;
    margin-left:75px;
    margin-right: 0px;
    /* margin-top: auto; */
    position: relative;
    z-index: 1;
    /* margin-bottom: auto; */
    /*margin-bottom: 30px;*/
}
.single_catagory2{
    margin-left: 0px;
    margin-right: 0px;
    /* margin-top: auto; */
    position: relative;
    z-index: 1;
    /* margin-bottom: auto; */
    /*margin-bottom: 30px;*/
    cursor: pointer;
}

#xbutton{
    margin:auto;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 30px;

}

.single_image{
    margin:auto;
    /* margin-top: auto; */
    position: relative;
    z-index: 1;
    border-radius: 20px;
    /* margin-bottom: auto; */
    /*margin-bottom: 30px;*/
}

.single_image img {
    border-radius: 20px;
}